/* COLOR */

$color-primario: #1d4242; 
$color-base: #a4cccc;  
$color-secundario: #0e3141;
$color-terciario:#325d56;
$color-con:#6d99ac;
$color-ban:#fff;

/* FUENTES */

$font-s: 1.5rem;
$font-m: 2rem;
$font-l: 2.5rem;

/* SPACING */

$spacing-xs: .2rem;
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 2.5rem;
$spacing-xl: 3rem;
$spacing-xxl: 5rem;

/* TRANSFORM */

$time-s: .5s;

/* MAPA */

$estilo-c:(
    centro: center,
    disp: inline-block,
)